@using MvcMusicStore.Controllers
@model dynamic

@{
    ViewBag.Title = "Searching for an album";
}

<h2>Searching for an album</h2>

@using(Html.BeginForm(nameof(HomeController.Search), "Home", FormMethod.Get))
{
    <input name="albumName" type="text" value="type name here..." class="text-center"/>
    <input type="submit" value="Search!" class="btn-default btn-lg"/>
}

<div>
    @Html.ActionLink("I do not want to search anything!", "Index", "StoreManager");
</div>